/* Coolors Exported Palette - coolors.co/0e1b26-2369aa-2f4f6b-3d6a8c-5089af */

/* HSL */
$color1: hsla(208%, 46%, 10%, 1);
$color2: hsla(209%, 66%, 40%, 1);
$color3: hsla(208%, 39%, 30%, 1);
$color4: hsla(206%, 39%, 39%, 1);
$color5: hsla(204%, 37%, 50%, 1);

/* RGB */
$color1: rgba(14, 27, 38, 1);
$color2: rgba(35, 105, 170, 1);
$color3: rgba(47, 79, 107, 1);
$color4: rgba(61, 106, 140, 1);
$color5: rgba(80, 137, 175, 1);